extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects[id].project_name}

        p.lead.text-light
          | #{projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each val in projects[id].technologies
            li #{val}
            
        a(href=`${projects[id].github_link}`, target="_blank")
          img.button.expanded(src ='../static/images/logos/Octocat.png')
        a(href=`${projects[id].live_link}`, target="_blank")
          img.button.expanded.webico(src='../static/images/logos/website-icon.png')
    
    video(loop, autoplay).image
      source(src=`${projects[id].video_urls[0]}`, type='video/mp4')
    video(loop, autoplay).image
      source(src=`${projects[id].video_urls[1]}`, type='video/mp4')
    video(loop, autoplay).image
      source(src=`${projects[id].video_urls[2]}`, type='video/mp4')
    